* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.3);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HOME */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home span {
    color: #ffd700;
}

.home button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* SECTIONS */
section {
    padding: 60px;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-box {
    background: rgba(255,255,255,0.2);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}
#about,#skills,#projects{
    display:none;
}